.navbar-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    height: 52px;
    position: sticky;
    top: 0px;
    z-index: 1030;
    background: #006fde;
}
